/* gets rid of bootstrap's rounded border on every element */
* {
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  font-family: 'Raleway', sans-serif;
}
html {
  position: relative;
  min-height: 100%;
}

@media (min-width:400px){
  .global-search {
  padding: 20px 0;
  text-align:center;
  }
  body {
  padding-top: 5%;
  padding-bottom: 15px;
  margin-bottom: 30px;
  background-color: #8ED3F0;
  /*background: linear-gradient(bottom, #09f, #45d1ff);
  background: -webkit-linear-gradient(bottom, #09f, #45d1ff);*/

  /*background-image: url("clouds.jpg");*/
  /*background-color: #8ED3F0;*/
  /*background-size: 100% 100%;*/
  /*background-position: 0px 0px;*/
  /*background-repeat: repeat-x;*/
  /*animation: animatedBackground 10s linear infinite;*/
  }
  .global-search {
  text-align:center;
  padding:10px;
  }
  .global-search .form-control {
  width:500px;
  }
  .global-search * {
  display:inline-block;
  margin-bottom:0;
  vertical-align: top;
  }
}
.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}
.btn{
  height: 34px;
  width: 80px;
  margin-left: -3px; 
  background-color: #00b4ff;
  border: 2px solid white !important;
  /*outline: solid !important;*/
  color: white;
  transition: all 0.25s ease 0s;
  text-align: center;
}
.btn:hover{
  height: 34px;
  width: 80px;
  background-color: white;
  color: #00b4ff;
}
.btn:hover{
  height: 34px;
  width: 80px;
  background-color: white;
  color: #00b4ff;
}
.step-links a{
  color: #4285F4;
}
#title {
  color: white;
  font-size: 6em;
  text-align: center;
  font-weight: 100;
  margin-top: 100px;
}
#user-selection-input{
  border-width: 0px;
  width: 300px;
}

@media (max-width: 700px) {
  #user-selection-input{
    width: 250px !important;
  }
  #user-type-selection-input {
    width: 100px !important;
  }
}

#user-type-selection-input {
  width: 120px;
  margin-right: 5px;
}

#user-selection-input:focus{
  outline: none;
  border-color: #9ecaed;
  border-width: 7px;
  box-shadow: 0 0 10px red;
}
#tag-selection-input{
  width: 100px;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 10px; white-space: nowrap; overflow: hidden;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

input::-webkit-input-placeholder {
  transition: all 0.5s ease;
  color: gray;
}
input:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}

.chip-positive {
  display: inline-block;
  padding: 0 10px 0 25px;
  /*height: 50px;*/
  /*font-size: 16px;*/
  line-height: 30px;
  border-radius: 25px !important;
  background-color: #43A047;
  margin: 5px;
  color:white;
}
.chip-negative {
  display: inline-block;
  padding: 0 10px 0 25px;
  /*height: 50px;*/
  /*font-size: 16px;*/
  line-height: 30px;
  border-radius: 25px !important;
  background-color: #E53935;
  margin: 5px;
  background-color: red;
  color:white;

}
.closebtn {
  padding-left: 10px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
  transition: color 0.25s ease;
}

#tags-container {
  padding: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: right;
  color: black;
  line-height: 10px;
}

#user_information_wrapper {
  margin-top: 10px;
  /*display: none;*/
  font-size: 15px;
  background: white;
  max-width: 400px;
  z-index: 5;
}

.user-result {
  display: none;
  height: 110px;
  width: 100%;
  margin-bottom: 10px;
  border:1px solid black;
  background-color: #F5F5F5;
}

.user-image {
  height: 110px;
  width: auto;
  clip:rect(0px, 110px, 110px, 0px);
}

.user-image-wrapper {
  width: 110px;
  height: auto;
  display: block;
  float: left;
  overflow: hidden;
}

.user-info-wrapper {
  width: 60%;
  height: 100%;
  display: block;
  float: left;
  padding: 15px;
}

#user-info-wrapper {
  width: 68% !important;
}

.user-cosine-similarity {
  margin-bottom: 10px;
}


.user-name {
  font-weight: bolder;
  font-size: 14px;
}

#prototype-1-button {
  width: 120px;
}

#other-protoypes-wrapper {
  text-align: center;
  margin-bottom: 50px;
}

/*body {
  background: #00b4ff;
  color: #333;
  font: 100% Arial, Sans Serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}*/

#background-wrap {
  bottom: 0;
  left: 0;
  padding-top: 50px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -1;
}

/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

/* ANIMATIONS */

.x1 {
  -webkit-animation: animateCloud 35s linear infinite;
  -moz-animation: animateCloud 35s linear infinite;
  animation: animateCloud 35s linear infinite;
  
  -webkit-transform: scale(0.65);
  -moz-transform: scale(0.65);
  transform: scale(0.65);
}

.x2 {
  -webkit-animation: animateCloud 20s linear infinite;
  -moz-animation: animateCloud 20s linear infinite;
  animation: animateCloud 20s linear infinite;
  
  -webkit-transform: scale(0.3);
  -moz-transform: scale(0.3);
  transform: scale(0.3);
}

.x3 {
  -webkit-animation: animateCloud 30s linear infinite;
  -moz-animation: animateCloud 30s linear infinite;
  animation: animateCloud 30s linear infinite;
  
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5);
}

.x4 {
  -webkit-animation: animateCloud 18s linear infinite;
  -moz-animation: animateCloud 18s linear infinite;
  animation: animateCloud 18s linear infinite;
  
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  transform: scale(0.4);
}

.x5 {
  -webkit-animation: animateCloud 25s linear infinite;
  -moz-animation: animateCloud 25s linear infinite;
  animation: animateCloud 25s linear infinite;
  
  -webkit-transform: scale(0.55);
  -moz-transform: scale(0.55);
  transform: scale(0.55);
}

/* OBJECTS */

.cloud {
  background: #fff;
  background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
  background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );
  
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;
  
  -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1) !important;

  height: 120px;
  position: relative;
  width: 350px;
}

.cloud:after, .cloud:before {
  background: #fff;
  content: '';
  position: absolute;
  z-indeX: -1;
}

.cloud:after {
  -webkit-border-radius: 100px !important;
  -moz-border-radius: 100px !important;
  border-radius: 100px !important;

  height: 100px;
  left: 50px;
  top: -50px;
  width: 100px;
}

.cloud:before {
  -webkit-border-radius: 200px !important;
  -moz-border-radius: 200px !important;
  border-radius: 200px !important;

  width: 180px;
  height: 180px;
  right: 50px;
  top: -90px;
}

#tag-selection-dropdown{
  width: 160px;
  height: 34px;
  background-color: white;
  z-index: 1000;
  position: relative;
}
#tag-selection-placeholder{
  color: gray;
}
.tag-selection-row{
  background: white;
  line-height: 34px;
  width: 160px;
  height: auto;
  text-align: left;
  padding-left: 10px;
}
.dropdown-buttons-container{
  float: right;
}
.dropdown-buttons{
  background-color: transparent;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 20pt;
}
.dropdown-buttons:hover{
  background: #F0F0F0;
  transition: all 0.25s ease;
}
.shadow{
  -webkit-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.75) !important;
  -moz-box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.75) !important;
  box-shadow: 0px 2px 6px -1px rgba(0,0,0,0.75) !important;
}
.chart{
  height: 100px;
  width: auto;
  margin-left: auto; 
  margin-right: auto;
}

.other-prototype-link {
  margin-bottom: 10px;
}