html {
  position: relative;
  min-height: 100%;
}
@media (min-width: 1200px) {
  .container {
  max-width: 970px;
  }
}
@media (min-width:400px){
  .global-search {
  padding: 20px 0;
  text-align:center;
  }
  body {
  padding-top: 5%;
  padding-bottom: 15px;
  margin-bottom: 30px;
  /*background: linear-gradient(bottom, #09f, #45d1ff);
  background: -webkit-linear-gradient(bottom, #09f, #45d1ff);*/

  background-image: url("clouds.jpg");
  background-color: #8ED3F0;
  /*background-size: 100% 100%;*/
  background-position: 0px 0px;
  background-repeat: repeat-x;
  /*animation: animatedBackground 10s linear infinite;*/
  }
  .global-search {
  text-align:center;
  padding:10px;
  }
  .global-search .form-control {
  width:500px;
  }
  .global-search * {
  display:inline-block;
  margin-bottom:0;
  vertical-align: bottom;
  }
}
.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}
.btn{
  height: 34px;
  width: 80px;
  margin-left: -3px; 
  background-color: #1dcaff;
  color: white;
  transition: all 0.3s ease 0s;
}
.btn:hover{
  height: 34px;
  width: 80px;
  margin-left: -4px;
  background-color: #00aced;
}
.btn:active{
  height: 34px;
  width: 80px;
  margin-left: -4px;
  background-color: #0084b4;
}
.step-links a{
  color: #4285F4;
}
#title {
  color: white;
  font-size: 55px;
  font: sans-serif;
  text-align: center;
}
#user-selection-input{
  border-width: 0px;
  width: 300px;
}

@media (max-width: 700px) {
  #user-selection-input{
    width: 250px !important;
  }
  #user-type-selection-input {
    width: 100px !important;
  }
}

#user-type-selection-input {
  width: 120px;
  margin-right: 5px;
}

#user-selection-input:focus{
  outline: none;
  border-color: #9ecaed;
  border-width: 7px;
  box-shadow: 0 0 10px red;
}
#tag-selection-input{
  width: 100px;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 10px; white-space: nowrap; overflow: hidden;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* gets rid of bootstrap's rounded border on every element */
* {
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input::-webkit-input-placeholder {
  transition: color 0.25s ease;
  color: gray;
}
input:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}

.chip {
  display: inline-block;
  padding: 0 10px 0 25px;
  /*height: 50px;*/
  /*font-size: 16px;*/
  line-height: 30px;
  border-radius: 25px !important;
  background-color: white;
  margin: 5px;
}
.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

#tags-container {
  padding: 10px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

ol li.list-group-item { 
    list-style: decimal inside;
    display: list-item;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  text-align: right;
  color: black;
  line-height: 10px;
}

#user_information_wrapper {
  margin-top: 10px;
  text-align: center;
  display: none;
  font-size: 15px;
}

.user-result {
  display: none;
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  border:1px solid black;
  background-color: #F5F5F5;
}

.user-image {
  height: 100px;
  width: auto;
  clip:rect(0px, 100px, 100px, 0px);
}

.user-image-wrapper {
  width: 20%;
  height: auto;
  display: block;
  float: left;
  overflow: hidden;
}

.user-info-wrapper {
  width: 78%;
  height: 100%;
  display: block;
  float: left;
  padding: 15px;
}


.user-name {
  font-weight: bold;
  font-size: 14px;
}

#prototype-1-button {
  width: 120px;
}

#other-protoypes-wrapper {
  text-align: center;
  margin-bottom: 50px;
}