@media (min-width: 1200px) {
  .container {
  max-width: 970px;
  }
}
@media (min-width:400px){
  .global-search {
  padding: 20px 0;
  text-align:center;
  }
  body {
  padding-top: 15%;
  padding-bottom: 15px;
  /*background: linear-gradient(bottom, #09f, #45d1ff);
  background: -webkit-linear-gradient(bottom, #09f, #45d1ff);*/

  background-image: url("clouds.jpg");
  background-position: 0px 0px;
  background-repeat: repeat-x;
  /*animation: animatedBackground 10s linear infinite;*/

  }
  .global-search {
  text-align:center;
  padding:10px;
  }
  .global-search .form-control {
  width:500px;
  }
  .global-search * {
  display:inline-block;
  margin-bottom:0;
  vertical-align: bottom;
  }
}
.topcorner{
  position:absolute;
  top:2%;
  right:2%;
}
.btn{
  height: 34px;
  width: 80px;
  margin-left: -3px; 
  background-color: #1dcaff;
  color: white;
  transition: all 0.3s ease 0s;
}
.btn:hover{
  height: 34px;
  width: 80px;
  margin-left: -4px;
  background-color: #00aced;
}
.btn:active{
  height: 34px;
  width: 80px;
  margin-left: -4px;
  background-color: #0084b4;
}
.step-links a{
  color: #4285F4;
}
#title {
  color: white;
  font-size: 55px;
  font: sans-serif;
  text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}
#user-selection-input{
  border-width: 0px;
}
#user-selection-input:focus{
  outline: none;
  border-color: #9ecaed;
  border-width: 7px;
  box-shadow: 0 0 10px red;
}
#tag-selection-input{
  width: 100px;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 5px 10px; white-space: nowrap; overflow: hidden;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* gets rid of bootstrap's rounded border on every element */
* {
  border-radius: 0 !important;
  outline: none;
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
input::-webkit-input-placeholder {
  transition: color 0.25s ease;
  color: gray;
}
input:focus::-webkit-input-placeholder {
  color: #d3d3d3;
}
@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: 200% 0; }
}

.chip {
  display: inline-block;
  padding: 0 10px 0 25px;
  /*height: 50px;*/
  /*font-size: 16px;*/
  line-height: 30px;
  border-radius: 25px !important;
  background-color: white;
  margin: 10px;
}
.closebtn {
  padding-left: 10px;
  color: #888;
  font-weight: bold;
  float: right;
  font-size: 20px;
  cursor: pointer;
}

.closebtn:hover {
  color: #000;
}

#tags-container {
  padding: 10px;

}