<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div id="background-wrap">
        <div class="x1">
            <div class="cloud"></div>
        </div>

        <div class="x2">
            <div class="cloud"></div>
        </div>

        <div class="x3">
            <div class="cloud"></div>
        </div>

        <div class="x4">
            <div class="cloud"></div>
        </div>

        <div class="x5">
            <div class="cloud"></div>
        </div>
  </div>
  <div class="container">
    <div class="row">
      <h1 class="col-centered" id="title">
        Twitter Similarity
      </h1>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6 offset-md-3 col-centered">
        <div class="user-result shadow" id="user-result" style="display: block;">
          <div class="user-image-wrapper">
            {% load staticfiles %}
            <img class="user-image" id="user_profile_picture" src="{% static "placeholder.png" %}">
          </div>
          <div class="user-info-wrapper">
            <div class="user-name-and-handle-wrapper">
                <span id="user_name" class="user-name">&nbsp</span>
                <span id="user_handle_wrapper">
                  <a target="_blank" id="user_handle" href=""></a>
                </span>
            </div>
            
            <div id="user_tags_wrapper">
              Tags: <span id="user_tags"></span>
            </div>
          </div>
          
        </div>
      </div>
      
    </div>
    <div class="row">
      <div class="form-inline global-search" method='GET'>
        <div class="form-group">
          <input id="user-selection-input" type="text" name="search" class="form-control shadow" placeholder="Your Input">
          <div id="tag-selection-dropdown" class="shadow" tabindex="100">
            <div class="tag-selection-row" id="tag-selection-placeholder">Tags</div>
          </div>
          <select class="form-control shadow" id="user-type-selection-input">
            <option value="All Users" selected="selected">All Users</option>
            <option value="People">People</option>
            <option value="Organizations">Organizations</option>
          </select>
        </div>
        <button id="search-button" class="btn btn-info">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-centered" id="tags-container">
      </div>
    </div>
    <div class="row">
      <div id="user-result-template" class="user-result shadow">
          <div class="user-image-wrapper">
              <img class="user-image" src="">
          </div>
          <div class="user-info-wrapper">
              <div class="user-name-and-handle-wrapper">
                  <span class="user-name"></span>
                  <span class="user-handle">
                    (<a class="user-handle-link" target="_blank" href=""></a>)
                  </span>
              </div>
              <div class="user-cosine-similarity"></div>
              <div class="user-common-words-wrapper">
                  Top Words (Stemmed) in Common: <span class="user-common-words"></span>
              </div>
          </div>
      </div>
      <div class="col-md-8 offset-md-2 col-centered" id="results">

      </div>
    </div>
   
    
  </div>


  <div class="footer">
    <p>
      <a href="http://twittersimilarity.herokuapp.com">
          Visit Prototype 1
      </a>
    </p>
    <p>Similarity of Famous Twitter Individuals</p>
    <p>hl565, lt342, kzj3, omo5</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="/static/main.js"></script>

</body>
</html>
