<html>
<head>
  <link rel="stylesheet" href="/static/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <h1 class="col-centered" id="title">
        Twitter Similarity
      </h1>
    </div>
    <div class="row">
      <div class="col-centered" id="user_information_wrapper">
        <div id="user_name_and_handle_wrapper">
          <span id="user_name"></span>
          <span id="user_handle_wrapper">
            <a target="_blank" id="user_handle" href=""></a>
          </span>
        </div>
        <div id="user_profile_picture_wrapper">
          <img id="user_profile_picture" src="">
        </div>
        <div id="user_tags_wrapper">
          User's Tags: <span id="user_tags"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-inline global-search" method='GET'>
        <div class="form-group">
          <input id="user-selection-input" type="text" name="search" class="form-control glowing-border" placeholder="Your Input">
          <input id="tag-selection-input" type="text" class="form-control glowing-border" placeholder="Tags">
        </div>
        <button id="search-button" class="btn btn-info">Search</button>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2 col-centered" id="tags-container">
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2 col-centered" id="result">
      </div>
    </div>
   
    
  </div>

  <div class="footer">
    <p>Copyright (c) 2017</p>
    <p>Similarity of Famous Twitter Individuals</p>
    <p>hl565, lt342, kzj3, omo5</p>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/jquery.autocomplete.js"></script>
  <script type="text/javascript" src="/static/main.js"></script>

</body>
</html>
